/* Modal width */
$modal-margin-top = 3%;
$modal-responsive-width = 90%;
$modal-width = 730px;

/* Modal style */
$modal-background-color = white;
$modal-padding = 16px;
$modal-border-radius = 10px;

/* Modal backdrop */
$modal-backdrop-color = black;
$modal-backdrop-opacity = .725;

/* Modal close button */
$modal-close-diameter = 25px;
$modal-close-offset = .8;
$modal-close-background-color = $modal-background-color;
$modal-close-content = 'X';

.Modal, .Modal__backdrop, .Modal__scrollable {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 99998;
}
.Modal {
    &__CloseButton {

        transition: all .5s;

        cursor: pointer;

        position: absolute;
        top: -( $modal-close-diameter/2 ) * $modal-close-offset;
        right: -( $modal-close-diameter/2 ) * $modal-close-offset;
        width: $modal-close-diameter;
        height: $modal-close-diameter;

        background-color: $modal-close-background-color;
        border-radius: 50%;
        box-shadow: 0 0 8px #000;

        &:hover {
            box-shadow: 0 3px 12px #000;
            transform: scale( 1.05 );
        }

        &__icon {
            /* Vertical alicn */
            position: relative;
            top: 50%;
            transform: translateY( -50% );
            text-align:center;

            &:before {
                content: $modal-close-content;
            }
        }
    }
    &__content {
        background-color: $modal-background-color;
        border-radius: $modal-border-radius;
        padding: $modal-padding;
    }
    &__scrollable {
        overflow:auto;
    }
    &__backdrop {
        z-index: -1000;
        background-color: $modal-backdrop-color;
        opacity: $modal-backdrop-opacity;
    }
    &__container {
        position:relative;
        width: $modal-responsive-width;
        max-width: $modal-width;
        margin: $modal-margin-top auto;
        // @extend .Card
    }

    // Animation
    &--Fade {
        &-enter-active, &-leave-active {
            transition: opacity .3s ease;
        }
        &-enter {
            opacity: 0;
        }
        &-leave-active {
            opacity: 0;
        }
    }
}
